* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.loadingscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.code-preview {
  max-height: 30vh;
  max-width: 70em;
  overflow: scroll;
  margin: 1em;
  background-color: #eeeeee;
}